@{
    ViewData["Title"] = "ProcedureReport";
}
<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Список выдач по выбранным процедурам</h5>
</div>

<div class="text-center">
    <h5 class="display-4" style="font-size: 24px; margin-bottom: 30px">Выберите процедуры для отчета:</h5>
</div>

<form method="post">
<div class="row">
        <div class="col-4" style="align-self:center" >Процедуры:</div>
        <div class="col-8">
            @foreach (var item in ViewBag.Procedures)
                {
                    <input type="checkbox" id="proceduresId" name="proceduresId" multiple="multiple" value="@item.Id" /> @item.ProcedureName<Br>
                }           
        </div>
        <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Word" class="btn btn-primary" asp-action="SavePurchaseListToWordFile" style="margin-top:20px; padding-right: 40px; padding-left: 40px"/>
            <input type="submit" value="Excel" class="btn btn-primary" asp-action="SavePurchaseListToExcelFile" style="margin-top:20px; padding-right: 40px; padding-left: 40px;"/>
        </div>
    </div>
</div>
</form>